.pa-0 {
    padding: 0 !important;
}

.pa-1 {
    padding: 0.25rem !important;
}

.pa-2 {
    padding: 0.5rem !important;
}

.pa-3 {
    padding: 0.75rem !important;
}

.pa-4 {
    padding: 1rem !important;
}

.pa-5 {
    padding: 1.25rem !important;
}

.pa-6 {
    padding: 1.5rem !important;
}

.pa-7 {
    padding: 1.75rem !important;
}

.pa-8 {
    padding: 2rem !important;
}

.pa-9 {
    padding: 2.25rem !important;
}

.pa-10 {
    padding: 2.5rem !important;
}

.pa-11 {
    padding: 2.75rem !important;
}

.pa-12 {
    padding: 3rem !important;
}

.pa-13 {
    padding: 3.25rem !important;
}

.pa-14 {
    padding: 3.5rem !important;
}

.pa-15 {
    padding: 3.75rem !important;
}

.pa-16 {
    padding: 4rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.px-4 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-5 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

.px-6 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-7 {
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
}

.px-8 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.px-9 {
    padding-right: 2.25rem !important;
    padding-left: 2.25rem !important;
}

.px-10 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.px-11 {
    padding-right: 2.75rem !important;
    padding-left: 2.75rem !important;
}

.px-12 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.px-13 {
    padding-right: 3.25rem !important;
    padding-left: 3.25rem !important;
}

.px-14 {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
}

.px-15 {
    padding-right: 3.75rem !important;
    padding-left: 3.75rem !important;
}

.px-16 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-7 {
    padding-top: 1.75rem !important;
    padding-bottom: 1.75rem !important;
}

.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.py-9 {
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
}

.py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.py-11 {
    padding-top: 2.75rem !important;
    padding-bottom: 2.75rem !important;
}

.py-12 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.py-13 {
    padding-top: 3.25rem !important;
    padding-bottom: 3.25rem !important;
}

.py-14 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
}

.py-15 {
    padding-top: 3.75rem !important;
    padding-bottom: 3.75rem !important;
}

.py-16 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 0.75rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}

.pt-5 {
    padding-top: 1.25rem !important;
}

.pt-6 {
    padding-top: 1.5rem !important;
}

.pt-7 {
    padding-top: 1.75rem !important;
}

.pt-8 {
    padding-top: 2rem !important;
}

.pt-9 {
    padding-top: 2.25rem !important;
}

.pt-10 {
    padding-top: 2.5rem !important;
}

.pt-11 {
    padding-top: 2.75rem !important;
}

.pt-12 {
    padding-top: 3rem !important;
}

.pt-13 {
    padding-top: 3.25rem !important;
}

.pt-14 {
    padding-top: 3.5rem !important;
}

.pt-15 {
    padding-top: 3.75rem !important;
}

.pt-16 {
    padding-top: 4rem !important;
}


.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 0.75rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pb-5 {
    padding-bottom: 1.25rem !important;
}

.pb-6 {
    padding-bottom: 1.5rem !important;
}

.pb-7 {
    padding-bottom: 1.75rem !important;
}

.pb-8 {
    padding-bottom: 2rem !important;
}

.pb-9 {
    padding-bottom: 2.25rem !important;
}

.pb-10 {
    padding-bottom: 2.5rem !important;
}

.pb-11 {
    padding-bottom: 2.75rem !important;
}

.pb-12 {
    padding-bottom: 3rem !important;
}

.pb-13 {
    padding-bottom: 3.25rem !important;
}

.pb-14 {
    padding-bottom: 3.5rem !important;
}

.pb-15 {
    padding-bottom: 3.75rem !important;
}

.pb-16 {
    padding-bottom: 4rem !important;
}

.ps-0 {
    padding-inline-start: 0 !important;
}

.ps-1 {
    padding-inline-start: 0.25rem !important;
}

.ps-2 {
    padding-inline-start: 0.5rem !important;
}

.ps-3 {
    padding-inline-start: 0.75rem !important;
}

.ps-4 {
    padding-inline-start: 1rem !important;
}

.ps-5 {
    padding-inline-start: 1.25rem !important;
}

.ps-6 {
    padding-inline-start: 1.5rem !important;
}

.ps-7 {
    padding-inline-start: 1.75rem !important;
}

.ps-8 {
    padding-inline-start: 2rem !important;
}

.ps-9 {
    padding-inline-start: 2.25rem !important;
}

.ps-10 {
    padding-inline-start: 2.5rem !important;
}

.ps-11 {
    padding-inline-start: 2.75rem !important;
}

.ps-12 {
    padding-inline-start: 3rem !important;
}

.ps-13 {
    padding-inline-start: 3.25rem !important;
}

.ps-14 {
    padding-inline-start: 3.5rem !important;
}

.ps-15 {
    padding-inline-start: 3.75rem !important;
}

.ps-16 {
    padding-inline-start: 4rem !important;
}

.pe-0 {
    padding-inline-end: 0 !important;
}

.pe-1 {
    padding-inline-end: 0.25rem !important;
}

.pe-2 {
    padding-inline-end: 0.5rem !important;
}

.pe-3 {
    padding-inline-end: 0.75rem !important;
}

.pe-4 {
    padding-inline-end: 1rem !important;
}

.pe-5 {
    padding-inline-end: 1.25rem !important;
}

.pe-6 {
    padding-inline-end: 1.5rem !important;
}

.pe-7 {
    padding-inline-end: 1.75rem !important;
}

.pe-8 {
    padding-inline-end: 2rem !important;
}

.pe-9 {
    padding-inline-end: 2.25rem !important;
}

.pe-10 {
    padding-inline-end: 2.5rem !important;
}

.pe-11 {
    padding-inline-end: 2.75rem !important;
}

.pe-12 {
    padding-inline-end: 3rem !important;
}

.pe-13 {
    padding-inline-end: 3.25rem !important;
}

.pe-14 {
    padding-inline-end: 3.5rem !important;
}

.pe-15 {
    padding-inline-end: 3.75rem !important;
}

.pe-16 {
    padding-inline-end: 4rem !important;
}
